$blue: #3751fe;
$purple: #3824FD;
$red: #ff017a;
$pink: #ff01b1;

$dark: #051023;
$dark2: #041533;
$dark3: #30343B;

$white: #FFFFFF;

$gray: #f6f8fc;
$light_gray: #eeeef5;
$medium_gray: #dcdce4;
$dark_gray: #a2a2b1;