@import "../../assets/scss/colors";

// Display
  .is-block{
    display: block;
  }
  .is-inline-block{
    display: inline-block;
  }
  .is-none{
    display: none;
  }
  .is-flex{
    display: flex;
  }
  .flex-align-center{
    align-items: center;
  }
  .flex-align-end{
    align-items: flex-end;
  }
  .flex-justify-center{
    justify-content: center;
  }
  .flex-between{
    justify-content: space-between;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-row{
    flex-direction: row;
  }
// .Display

// Aligns
  .align-center{
    text-align: center;
  }
  .align-right{
    text-align: right;
  }

// Colors
  .color-blue{
    color: $blue;
  }
  .color-red{
    color: $red;
  }
  .color-dark{
    color: $dark;
  }
  .color-white{
    color: $white;
  }
  .color-gray{
    color: $gray;
  }
  .color-light-gray{
    color: $light_gray;
  }
  .color-medium-gray{
    color: $medium_gray;
  }
  .color-dark-gray{
    color: $dark_gray;
  }
// .Colors

// Font Size
  .f-10{
    font-size: 10px;
  }
  .f-12{
    font-size: 12px;
  }
  .f-14{
    font-size: 14px;
  }
  .f-16{
    font-size: 16px;
  }
  .f-18{
    font-size: 18px;
  }
  .f-20{
    font-size: 20px;
  }
  .f-22{
    font-size: 22px;
  }
  .f-24{
    font-size: 24px;
  }
// .Font Size

// Font Weight
  .f-weight-100{
    font-weight: 100;
  }
  .f-weight-300{
    font-weight: 300;
  }
  .f-weight-400{
    font-weight: 400;
  }
  .f-weight-500{
    font-weight: 500;
  }
  .f-weight-600{
    font-weight: 600;
  }
// .Font Weight

// Backgrounds
  .bg-color-blue{
    background-color: $blue;
  }
  .bg-color-red{
    background-color: $red;
  }
  .bg-color-dark{
    background-color: $dark;
  }
  .bg-color-white{
    background-color: $white;
  }
  .bg-color-gray{
    background-color: $gray;
  }
  .bg-color-dark-gray{
    background-color: $dark-gray;
  }
  .bg-color-transparent{
    background-color: transparent;
  }
  .bg-gradient-blue{
    background-image: linear-gradient(to right, $purple, $blue);
  }
// .Backgrounds

// Padding
  .p-0{
    padding: 0;
  }
  .p-5{
    padding: 7px;
  }
  .p-10{
    padding: 10px;
  }
  .p-15{
    padding: 15px;
  }
  .p-20{
    padding: 20px;
  }
// .Paddings

// Margins
  .m-auto{
    margin: 0 auto;
  }
  .m-0{
    margin: 0;
  }
  .m-5{
    margin: 7px;
  }
  .m-10{
    margin: 10px;
  }
  .m-15{
    margin: 15px;
  }
  .m-20{
    margin: 20px;
  }

// Positions
  .is-relative{
    position: relative;
  }
  .is-absolute{
    position: absolute;
  }
  .is-fixed{
    position: fixed;
  }
  .is-inherit{
    position: inherit;
  }

  .to-bottom{
    bottom: 0;
    top: auto;
  }
  .to-top{
    top: 0;
    bottom: auto;
  }
  .to-right{
    right: 0;
    left: auto;
  }
  .to-left{
    left: 0;
    right: auto;
  }
// .Positions

// Z-Index
  .z-1{
    z-index: 1;
  }
  .z-2{
    z-index: 2;
  }
  .z-3{
    z-index: 3;
  }
// .Z-Index

// Width
  .w-100{
    width: 100%;
  }
  .h-100{
    height: 100%;
  }
  .h-100vh{
    height: 100vh;
  }
  .at-left{
    left: 0;
    right: auto;
  }
  .at-top{
    top: 0;
    bottom: auto;
  }
  .at-bottom{
    bottom: 0;
    top: auto;
  }
  .at-right{
    right: 0;
    left: auto;
  }
// .Width

// Margins
  .m-auto{
    margin: 0 auto;
  }
// .Margins

// Border Radius & Shadow
  .b-radius-2{
    border-radius: 2px;
  }
  .b-radius-4{
    border-radius: 4px;
  }
  .b-radius-6{
    border-radius: 6px;
  }
  .b-radius-8{
    border-radius: 8px;
  }
  .b-radius-10{
    border-radius: 10px;
  }
  .b-radius-16{
    border-radius: 16px;
  }
  
  .rounded{
    border-radius: 50%;
    overflow: hidden;
  }

  .b-shadow{
    box-shadow: 0 0 10px #00000017;
  }
// .Border Radius & Shadow

.c-pointer{
  cursor: pointer;
}

.overflow-h{
  overflow: hidden;
}