@import "./colors";

@mixin bg-red-gradient {
  color: $white;
  background: $red;
  background-image: linear-gradient(to right, $red, $pink);
}

@mixin bg-blue-gradient {
  color: $white;
  background: $purple;
  background-image: linear-gradient(to right, $purple, $blue);
}

@mixin shadow-red{
  box-shadow: 0 0 0px 2px #ff017a5e;
}

@mixin shadow-blue{
  box-shadow: 0 0 0px 2px #383ffe4f;
}

@mixin shadow-gray{
  box-shadow: 0 0 0px 2px #e4e4ea;
}